.vscode/**
.vscode-test/**
.github/**
.history/**
**/*.ts
**/*.map
.gitignore
.editorconfig
eslint.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
scripts/**
client/testFixture/**
client/out/test/**
server/node_modules/.bin/**
*.code-workspace
